<section id="pending-shelters">
  <h3>Shelters with Pending Applications:</h3>
  <ul>
    <% @pending_shelters.each do |shelter| %>
      <li><%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %></li>
    <% end %>
  </ul>
</section>

<section id="all-shelters">
  <h3>All shelters:</h3>
  <ul>
    <% @shelters.each do |shelter| %>
    <li><%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %></li>
    <% end %>
  </ul>
</section>
