<h1>Name: <%= @shelter.get_info[:name] %></h1>
<p>City: <%=  @shelter.get_info[:city] %></p>

<section id="statistics">
  <h3>Statistics:</h3>
  <p>Average age: <%= @shelter.average_age %></p>
</section>
